<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Consolidated camera feature, assuming it's required -->
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" /> <!-- Added microphone feature for RECORD_AUDIO -->
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" /> <!-- Consolidated permissions -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">
        <activity
            android:name=".post.UserPostsActivity"
            android:exported="false" />
        <activity
            android:name=".post.RecentPostsActivity"
            android:exported="false" />
        <activity
            android:name=".post.CreatePostActivity"
            android:exported="false" />
        <activity
            android:name=".API.ImageUploadActivity"
            android:exported="false" />
        <activity
            android:name=".API.ImgbbUploadActivity"
            android:exported="false" />
        <activity
            android:name=".activities.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CameraActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PhotosActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VideoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddVideoActivity"
            android:exported="false" />
        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>